<div class="row">
  <div class="col-2  d-flex pb-4" *ngFor="let movie of movies">
    <div class="card bg-dark text-white">
      <div class="middle">
        <div class="content">
          <button class="btn btn-outline-light" (click)="showModal(movie, content)">Mas Informacion</button>
        </div>
      </div>
      <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="card-img">
      <div class="card-body">
        <h6 class="card-title">{{movie.title}}</h6>
        <p class="card-text">{{movie.overview | slice:0:50}}...</p>
        <p class="card-text">Calificación: {{movie.vote_average}}</p>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="card bg-dark text-light" style="width: 100%; overflow: hidden">
    <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{selected.backdrop_path}}" alt="Card image cap">
    <div class="card-img-overlay bg-dark" style="opacity: .8"></div>
    <div class="card-img-overlay">
      <div class="row">
        <div class="col">
          <h1 class="card-title">{{selected.title}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <img style="width: 100%" src="https://image.tmdb.org/t/p/w500/{{selected.poster_path}}" alt="">
        </div>
        <div class="col-8">
          <h5>Sinopsis</h5>
          <p class="card-text">{{selected.overview}}</p>
          <h6>Fecha de estreno</h6>
          <p class="card-text">{{selected.release_date}}</p>
          <h6>Calificación</h6>
          <p class="card-text">{{selected.vote_average}}</p>
          <h6>Tu Calificación</h6>
          <ngb-rating [(rate)]="selected.local_rate" (rateChange)="setRate(selected.id,$event)">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
            </ng-template>
          </ngb-rating>
          <hr>
        </div>
      </div>
    </div>
  </div>
</ng-template>
