<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6" style="max-width: 600px">
      <div class="card">
        <div class="card-header">Inciar Sesión</div>
        <div class="card-body">

          <form [formGroup]="form"  (ngSubmit)="login()">
            <div class="form-group row">
              <label for="email_address" class="col-md-4 col-form-label text-md-right">Email</label>
              <div class="col-md-6">
                <input type="text"
                       id="email_address"
                       class="form-control"
                       name="email-address"
                       required autofocus
                       formControlName="email">
                <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid"
                     class="alert alert-danger">
                  <div *ngIf="form.controls['email'].errors && form.controls['email'].errors.required">
                    Email requerido.</div>
                  <div *ngIf="form.controls['email'].errors && form.controls['email'].errors.email">
                    Formato incorrecto.</div>
                </div>
              </div>
            </div>
            <br>
            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Contraseña</label>
              <div class="col-md-6">
                <input type="password"
                       id="password"
                       class="form-control"
                       name="password"
                       formControlName="password"
                       required>
                <div *ngIf="form.controls['password'].touched && form.controls['password'].invalid"
                     class="alert alert-danger">
                  <div *ngIf="form.controls['password'].errors && form.controls['password'].errors.required">
                    Contraseña requerida.</div>
                  <div *ngIf="form.controls['password'].errors && form.controls['password'].errors.minlength">
                    Longitud minima 6 caracteres.</div>
                </div>
              </div>
            </div>
            <br>
            <div class="col-md-6 offset-md-4">
              <button type="submit"  class="btn btn-primary" [disabled]="!form.valid">
                Iniciar Sesión
              </button>
            </div>

        </form>
      </div>
    </div>
  </div>
</div>
</div>

