<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Peliculas App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ultimas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mejor valoradas</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li>
          <button class="btn btn-outline-light" (click)="logout()">Salir</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid pt-4">
  <div class="row">
    <h2 class="text-light">Populares</h2>
  </div>
  <app-movies-list  [movies]="populares">
  </app-movies-list>
</div>
